{%extends "layoutAdmin.html"%} {%block body%}
<div class="flex-navbar contenedor-login">
    <h1>Administrador</h1>
    <nav class="navegacion">
        <a href="{{url_for('sesionAdministrador')}}">Servicios</a>
        <a href="{{url_for('citasAgendadas')}}">Citas</a>
    </nav>
</div>
<div class="contenedor-login seccion">
    <div class="contenedor-login seccion">
        <div id="formulario">
            <div id="formularioCrear">
                <h1>CREAR SERVICIO</h1>
                <form class="formulario-login">
                    <fieldset>
                        <legend>Datos</legend>
                        <label for="nombre">Nombre</label>
                        <input id="nombre" name="nombre" type="text">
                        <label for="precio">Precio</label>
                        <input id="precio" name="precio" type="number">
                    </fieldset>                
                    <input id="botonServicio" class="boton" type="submit" value="Crear Servicio">
                </form>
            </div>
            <div id="formularioActualizar" class="hidden">
                <h1>ACTUALIZAR SERVICIO</h1>
                <form class="formulario-login">
                    <fieldset>
                        <legend>Datos</legend>
                        <div class="hidden">
                            <input type="number" id="idServicioActualizar">
                        </div>
                        <label for="nombre">Nombre</label>
                        <input id="nombreActualizar" name="nombre" type="text">
                        <label for="precio">Precio</label>
                        <input id="precioActualizar" name="precio" type="number">
                    </fieldset>                
                    <input id="botonActualizar" class="boton" type="submit" value="Actualizar Servicio">
                </form>
            </div>
        </div>
        <div class="datosServicios">
            <table class="tabla_servicios">
                <thead>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    {% for servicio in data: %}
                        <tr>
                            <td>{{servicio.id}}</td>
                            <td class="nombre{{servicio.id}}">{{servicio.nombre}}</td>
                            <td class="precio{{servicio.id}}">{{servicio.precio}}</td>
                            <td><select class="estado" data-id="{{servicio.id}}">
                                <option value="3" 
                                {% if(servicio.estado == 3):%} 
                                    selected
                                {% endif %}
                                >Activo</option>
                                <option value="4"
                                {% if(servicio.estado == 4):%} 
                                    selected
                                {% endif %}
                                >Inactivo</option>
                            </select></td>
                            <td>
                                <div class="opcion">
                                    <a class="actualizarServicio" data-actualizar="{{servicio.id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="opcion">
                                    <a class="eliminarServicio" data-eliminar="{{servicio.id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <line x1="18" y1="6" x2="6" y2="18" />
                                            <line x1="6" y1="6" x2="18" y2="18" />
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}