<table class="tabla_servicios">
    <thead>
        <th>id</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
    </thead>
    <tbody>
        {% for citas in data: %}
            <tr>
                <td>{{citas.id}}</td>
                <td>{{citas.fecha}}</td>
                <td>{{citas.hora}}</td>
                <td><select class="estadoCitas" data-idCita="{{citas.id}}">
                    <option value="1" 
                    {% if(citas.estado == 1):%} 
                        selected
                    {% endif %}
                    >Finalizado</option>
                    <option value="2"
                    {% if(citas.estado == 2):%} 
                        selected
                    {% endif %}
                    >Pendiente</option>
                </select></td>
            </tr>
        {% endfor %}
    </tbody>
</table>